# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.out
*.o
*.exe
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore a file without extension
relative/path/to/dir/anotherfile
Apuntes/output/control1-1
Apuntes/output/control1-3
Labs/Control2/output/1
Retos/Reto1/output/1
Retos/Guia2/output/1
Apuntes/Guia_2/output/Prueba
Apuntes/Guia_2/output/1
Retos/Guia2/output/2
Apuntes/output/fork
Retos/actividad_mutex_barriers/output/actividad_mutex
